*
!lz4
!.gitignore
!trochilidae.c
!php_trochilidae.h
!tr_network.c
!tr_network.h
!tr_timer.c
!tr_timer.h
!utils.h
!utils.c
!trochilidae_arginfo.h
!config.m4
!.travis.yml
!CMakeLists.txt
!test.php
!/trochilidae
!package.xml